$color:#FED136;
$lisize: 18px;
$h1size:30px;
$bColor:#212529 ;
$family-one:'Dancing Script', cursive;
$family-two:Poppins;
$bsize:12px;






$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;