.team{
    margin-top: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1000px;
    
    background-color:rgba(128, 128, 128, 0.191);
    .team-img{
        margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;   @include for-tablet{
        max-width: 720px;
        flex-direction: column;
     }
     @include for-laptop{
       max-width: 960px;
       flex-direction: column;
       margin-top: 500px;
       
     
       
     }
     @include for-large-desktop{
         max-width: 1140px;
         flex-direction: column;
     }
     @include for-xxl-large-desktop{
         max-width: 1320px;
         flex-direction: column;

     }
      }
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.team-item img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid blue;
  
}
h4{
    text-align: center;

}
.icon{ @extend %center-div;

           
    justify-content: center;
    margin: 0 auto;
 
}
.icon i{
   @include box(blue,white);
    width: 40px;
   

    height: 40px;
    margin-right: 20px;
   
  justify-content: center;
  @extend %center-div;
    border-radius: 50%;
  
    
}



    